################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto Eventos/FileContentIndex
/.vs/Projeto Eventos/FileContentIndex/54a61b65-d5e7-46df-82d4-612a0493a94c.vsidx
/.vs/Projeto Eventos/FileContentIndex/a32d75b2-ea35-4266-b039-ee5cd44f725a.vsidx
/.vs/Projeto Eventos/FileContentIndex/d8d46102-d28f-4df2-bf66-747e03676550.vsidx
