################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto Eventos/FileContentIndex
/.vs/Projeto Eventos/FileContentIndex/54a61b65-d5e7-46df-82d4-612a0493a94c.vsidx
/.vs/Projeto Eventos/FileContentIndex/a32d75b2-ea35-4266-b039-ee5cd44f725a.vsidx
/.vs/Projeto Eventos/FileContentIndex/d8d46102-d28f-4df2-bf66-747e03676550.vsidx
/.vs/Projeto-Eventos/FileContentIndex/1f03ac1d-e04f-43d5-992a-1287a45b584d.vsidx
/.vs/Projeto-Eventos/FileContentIndex/49b0a1ce-4f83-4cd6-bd64-a6ec4dec16a2.vsidx
/.vs/Projeto-Eventos/FileContentIndex/bfb6b4e7-6512-4541-bca2-a9bfc4d3d52d.vsidx
/.vs/Projeto-Eventos/FileContentIndex/d255760d-b25a-45b6-8324-939adb7a45f0.vsidx
/.vs/Projeto-Eventos/FileContentIndex/dfff9934-0374-44bd-b3ec-05bae4aab561.vsidx
